
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            
            th, td {
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
            </style>


    </head>


<body>
    <p class="lead">Tutte le note</p>

  

    <div class="container">
        <table class="table table-bordered">
                <tr>
                   <th>Dipartimeto</th><th>Nota</th>
                </tr>
             
                <% for (var i = 0; i < lista.length;   i++) { %>
                 <tr>
                   <td><%= lista[i].Dipartimento%></td>
                   <td><%= lista[i].nota %></td>
                  
                 </tr>    
                <% } %>
             </table>
       </div>
</body>
</html>