
<html>
    


<body>
    <p>Tutte le note</p>

  


        <table>
                <tr>
                   <th>Dipartimeto</th><th>Nota</th>
                </tr>
             
                <% for (var i = 0; i < lista.length;   i++) { %>
                 <tr>
                   <td><%= lista[i].Dipartimento%></td>
                   <td><%= lista[i].nota %></td>
                  
                 </tr>    
                <% } %>
             </table>


    
    
    
   

    
</body>
</html>